<%- include('../partials/header') -%>
    <section class="hero" id="home">
        <div class="hero-text">
            <h5>Welcome to Funnect</h5>
            <h1>Connect With Your Community</h1>
            <!-- <p>Manage your tasks and engage in real-time conversations with your community members. Join Funnect today to enhance your productivity and foster meaningful connections.</p> -->
            <div class="main-hero">
                <a href="#" class="btn">Get Started</a>
                <a href="#" class="btn" style="background: transparent;">Learn More</a>
            </div>
        </div>
        <div class="hero-img">
            <img  src="https://img.freepik.com/free-photo/be-afraid-be-awesome_53876-120672.jpg?t=st=1730288618~exp=1730292218~hmac=47dc9270b05a24c74c3ff26e0c587cf0c746e5dd9ebea82c5f4230eafb4e4227&w=900" 
                 alt="Community Connection">
        </div>
    </section>

    <script>
        let menu = document.querySelector('#menu-icon');
        let navlist = document.querySelector('.navlist');
        
        menu.onclick = () => {
            menu.classList.toggle('bx-x');
            navlist.classList.toggle('active');
        }
        
        window.onscroll = () => {
            menu.classList.remove('bx-x');
            navlist.classList.remove('active');
        }
    </script>
</body>
</html>